extends ../navigation/layout
include ../mixins/_articleCard

block content
	br
	.container.fluid(style="background-color: transparent !important")
		.row.justify-content-md-center
			ul.tags
				each f in features
					li.tag
						a.tag__link(href=`/features/${f._id}` class=(f._id === feature ? 'tag__link--active' : ''))
							span.tag__text=f._id	
						br
	
	each article in articles
		if article.featured
			.container
				+articleCard(article)