extends ../navigation/layout
include ../mixins/_commentForm
include ../mixins/_comment


block content
	.container(style="background-color: transparent !important")
		br
		br
	.div(style="background-color: white")
		.row
			.col-md-12
				.card.card-cascade.wider.reverse
					.card-body.text-center(style="background-color: #F5F5F5")
						h1#articleHeader #{article.name}
						img.rounded-circle.img-responsive(src=article.author.gravatar style="width: 60px; height: auto")
						p Written by #{article.author.name}
						
						each tag in article.tags
							.chip.pb-1.red-text
								i.fa.fa-university
								strong  #{tag} 
		.container(style="background-color: transparent !important")
			.text(style="padding-top:90px")
				!=article.content
	.div(style="background-color: white")
		.container(style="background-color: transparent !important")
			.container
				if user
					.row
						+commentForm(article)

			.container(style="padding-top: 40px; height: 200px; overflow: scroll;")
				if article.comments
					each comment in article.comments
						+comment(comment)
