extends ../navigation/layout

block content
  // Carousel Wrapper
  #carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel-example-2', data-slide-to='0')
      li(data-target='#carousel-example-2', data-slide-to='1')
      li(data-target='#carousel-example-2', data-slide-to='2')
    // /.Indicators
    // Slides
    .carousel-inner(role='listbox')
      .carousel-item.active
        .view.hm-black-light
          img.d-block.w-100(src='https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg', alt='First slide')
          .mask
        .carousel-caption
          h3.h3-responsive Light mask
          p First text
      .carousel-item
        // Mask color
        .view.hm-black-strong
          img.d-block.w-100(src='https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg', alt='Second slide')
          .mask
        .carousel-caption
          h3.h3-responsive Strong mask
          p Secondary text
      .carousel-item
        // Mask color
        .view.hm-black-slight
          img.d-block.w-100(src='https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg', alt='Third slide')
          .mask
        .carousel-caption
          h3.h3-responsive Slight mask
          p Third text
    // /.Slides
    // Controls
    a.carousel-control-prev(href='#carousel-example-2', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carousel-example-2', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
    // /.Controls
  // /.Carousel Wrapper
  .container
    section.section.magazine-section
      br
      // Grid row
      .row.text-left
        // Grid column
        .col-lg-6.col-md-12
          // Featured news
          .single-news
            // Image
            .view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Slides/img%20(118).jpg', alt='Wider sample post image')
              a
                .mask
            // Excerpt
            .news-data
              a.deep-orange-text(href='')
                h6
                  i.fa.fa-cutlery
                  strong  Culinary
              p
                strong
                  i.fa.fa-clock-o
                  |  27/02/2016
            h3
              a
                strong This is title of the news.
            p(align='justify')
              | Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          // /Featured news
        // Grid column
        // Grid column
        .col-lg-6.col-md-12(style="padding-left:30px")
          // Small news
          .single-news
            .row
              .col-md-3
                // Image
                .view.overlay.hm-white-slight.z-depth-1-half
                  img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg', alt='Minor sample post image')
                  a
                    .mask
              // Excerpt
              .col-md-9
                p
                  strong 26/02/2016
                a
                  | Duis aute irure dolor in reprehenderit in voluptate.
                  i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            .row
              .col-md-3
                // Image
                .view.overlay.hm-white-slight.z-depth-1-half
                  img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg', alt='Minor sample post image')
                  a
                    .mask
              // Excerpt
              .col-md-9
                p
                  strong 25/02/2016
                a
                  | Duis aute irure dolor in reprehenderit in voluptate.
                  i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            .row
              .col-md-3
                // Image
                .view.overlay.hm-white-slight.z-depth-1-half
                  img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/food.jpg', alt='Minor sample post image')
                  a
                    .mask
              // Excerpt
              .col-md-9
                p
                  strong 24/02/2016
                a
                  | Duis aute irure dolor in reprehenderit in voluptate.
                  i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            .row
              .col-md-3
                // Image
                .view.overlay.hm-white-slight.z-depth-1-half
                  img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(26).jpg', alt='Minor sample post image')
                  a
                    .mask
              // Excerpt
              .col-md-9
                p
                  strong 23/02/2016
                a
                  | Duis aute irure dolor in reprehenderit in voluptate.
                  i.fa.fa-angle-right
  #multi-item-example.carousel.slide.carousel-multi-item(data-ride='carousel')
    // Controls
    .controls-top
      a.btn-floating(href='#multi-item-example', data-slide='prev')
        i.fa.fa-chevron-left
      a.btn-floating(href='#multi-item-example', data-slide='next')
        i.fa.fa-chevron-right
    // /.Controls
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#multi-item-example', data-slide-to='0')
      li(data-target='#multi-item-example', data-slide-to='1')
      li(data-target='#multi-item-example', data-slide-to='2')
    // /.Indicators
    // Slides
    .carousel-inner(role='listbox')
      // First slide
      .carousel-item.active
        .col-md-4
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
      // /.First slide
      // Second slide
      .carousel-item
        .col-md-4
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
      // /.Second slide
      // Third slide
      .carousel-item
        .col-md-4
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
        .col-md-4.clearfix.d-none.d-md-block
          .card
            img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg', alt='Card image cap')
            .card-body
              h4.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary Button
      // /.Third slide
    // /.Slides
  // /.Carousel Wrapper

  // Section: Magazine v.3
  .container
    section.section.magazine-section.multi-columns
      // Section heading
      h2.section-heading.h1.mt-5 Section title
      // Section description
      p.section-description
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      // Grid row
      .row.text-left
        // Grid column
        .col-lg-4.col-md-12.mb-r
          // Featured news
          .single-news
            // Image
            a.orange-text.mb-1(href='')
              h6
                i.fa.fa-coffee
                strong  Health
            .view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg', alt='First sample image')
              a
                .mask
            a
              strong This is title of the news.
              i.fa.fa-angle-right
          // /Featured news
          // Small news
          .single-news
            a
              | 24 Food Swaps That Slash Calories.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | How to Make a Beet Cocktail?
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | 8 Sneaky Reasons You're Always Hungry.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | 5 Pressure Cooker Recipes You Need to Try.
              i.fa.fa-angle-right
          // /Small news
        // Grid column
        // Grid column
        .col-lg-4.col-md-6.mb-r
          // Featured news
          .single-news
            // Image
            a.green-text(href='')
              h6
                i.fa.fa-diamond
                strong  Lifestyle
            .view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(51).jpg', alt='Second sample image')
              a
                .mask
            a
              strong This is title of the news.
              i.fa.fa-angle-right
          // /Featured news
          // Small news
          .single-news
            a
              | Trends in the blogosphere for 2016.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | Where you eat the best lunch in Warsaw?
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | What camera take for holidays?
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | Why you should visit Lisbon?
              i.fa.fa-angle-right
          // /Small news
        // Grid column
        // Grid column
        .col-lg-4.col-md-6.mb-r
          // Featured news
          .single-news
            // Image
            a.pink-text(href='')
              h6
                i.fa.fa-camera
                strong  Photography
            .view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/img%20(33).jpg', alt='Third sample image')
              a
                .mask
            a
              strong This is title of the news.
              i.fa.fa-angle-right
          // /Featured news
          // Small news
          .single-news
            a
              | Top models in Poland.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | London Fashion Week - see online.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | Best bags designers in Italy.
              i.fa.fa-angle-right
          // /Small news
          // Small news
          .single-news
            a
              | Choose best swimsuit for summer.
              i.fa.fa-angle-right
          // /Small news
        // Grid column
      // Grid row
    // Section: Magazine v.3



