extends ../navigation/layout
include ../mixins/_loginForm
include ../mixins/_forgot

block content 
	+loginForm()

		.footer.pt-3.mdb-color.lighten-3
		.modal.fade.bd-example-modal-sm(tabindex="-1" role="dialog")
			.modal-dialog.modal-sm
				.modal-content
					.card
						form(action="/account/forgot" method="POST")
							h5 Forgot Password?
							label(for="email") Email
							input(type="email" name="email")
							input.btn.btn-primary(type="submit" value="Send reset verification")



