

.excerpt.mt-5{
	padding-left: 20px;
	padding-right: 10px
}

@media screen and (max-width:500px){
	#articleHeader{
		font-size: 20px
	}
}


#clickIcon{
	background-color: #CE1605
}

#readMoreButton{
	background-color: #CE1605
}

#indicators{
		background-color: #CE1605

}