@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Poiret+One')

body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


.navbar.navbar-expand-lg.navbar-light.bg-dark
  color: white


.label.label-default
  font-family: 'Bungee Inline', cursive
  text-align: center

.nav-link
  text-align: center

.navbar-collapse.collapse.show
  .dropdown-item
    text-align: center


#homelink
  color: white
#navbarDropdownMenuLink
  color: white
