@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Anton|Changa:800|Dosis:800");
style.
  .intro-2 {
    background-size: cover;
  }
  .top-nav-collapse {
  background-color: white !important;
  }

  .navbar:not(.top-nav-collapse) {
  background: white !important;
  }

  @media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
  background: white !important;
    }
  }

  .card {
  background-color: rgba(255, 255, 255, 0.85);
  }
  .md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
  }
  h6 {
  line-height: 1.7;
  }
  @media (max-width: 450px) and (max-height: 750px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
  height: 1400px;
  }

  }
  @media (min-width: 451px) and (max-width: 767px) and (max-height: 1023px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
  height: 1200px;
  }

  }
  @media (min-width: 800px) and (max-width: 1025px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
  height: 900px;
  }
  }
  @media (min-width: 1026px) and (max-height: 800px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
  height: 800px;
  }
  }
  .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
  color: black;
}

.nav-link:hover{
  color:red !important;
}

.navbar.navbar-dark .navbar-toggler{
  color: black !important
}

body {
  padding: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
   }

.container {
  background-color: white !important; }

#title {
  font-family: 'Changa';
  font-size: 23px;
  color: #4F6CA1;
  padding-left: 1px; }

#titleTwo {
  padding-left: 1px;
  font-family: 'Changa';
  font-size: 23px;
  color: #CA1E21; }

#articleIcon {
  padding-left: 5px; }

#homeIcon {
  width: 20px;
  height: 20px; }

.cdescription {
  word-wrap: break-word; }



.search {
  position: relative;
  width: 100%;
  display: flex;
}


#mainSection{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: white
}

.section.magazine-section.multi-columns{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

#bottomImages{
    position: relative;
    float: center;
    width:  30rem;
    height: 15rem;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}




@media screen and (min-width: 1000px) {
  #subCarousel{
    position: relative;
    float: left;
    max-width:  100%;
    width:20rem ;
    height:15rem;

}

#subCarouselCard{
    position: relative;
    float: left;
    max-width:  100%;
    width:100% ;
    height: 35rem;

}

#mainStory{
    position: relative;
    float: left;
    width:50rem ;
    height: 20rem;

}

#carouselOneImage{
    position: relative;
    float: left;
    width:70rem;
    height: 50rem;

}

}





@media screen and (min-width: 1200px) {
  #subCarousel{
    position: relative;
    float: left;
    max-width:  100%;
    width:30rem ;
    height:15rem;

}

#subCarouselCard{
    position: relative;
    float: left;
    max-width:  100%;
    width:100% ;
    height: 35rem;

}

#mainStory{
    position: relative;
    float: left;
    width:45rem ;
    height: 25rem;

}

#carouselOneImage{
    position: relative;
    float: left;
    width:85rem;
    height: 50rem;

}

}



@media screen and (min-width: 1800px) {
  #subCarousel{
    position: relative;
    float: left;
    max-width:  100%;
    width:39rem ;
    height:20rem;

}

#subCarouselCard{
    position: relative;
    float: left;
    max-width:  100%;
    width:100% ;
    height: 40rem;

}

#mainStory{
    position: relative;
    float: left;
    width:200% ;
    height: 40rem;

}

#carouselOneImage{
    position: relative;
    float: left;
    width: 120rem;
    height: 70rem;

}

#bottomImages{
    position: relative;
    float: center;
    width:  40rem;
    height: 20rem;

}
}







@media screen and (min-width: 2000px) {
  #subCarousel{
    position: relative;
    float: left;
    max-width:  100%;
    width:50rem ;
    height:30rem;

}

#subCarouselCard{
    position: relative;
    float: left;
    max-width:  100%;
    width:100% ;
    height: 50rem;

}

#mainStory{
    position: relative;
    float: left;
    width:200% ;
    height: 40rem;

}

#carouselOneImage{
    position: relative;
    float: left;
    width:170rem;
    height: 90rem;

}

#bottomImages{
    position: relative;
    float: center;
    width:  52rem;
    height: 30rem;

}
}

.section.magazine-section.multi-columns{
  background-color: white
}

