mixin articleForm(article = {})
    form(action="/add" method="POST")
        label(for="name") Name
        input(type="text" name="name")
        label(for="description") Description
        textarea(type="text" name="description")
        label(for="content") Content
        textarea(type="text" name="content")
        - const choices = ['Liberal', 'Conservative', 'Third Party']

        ul.tags
            each choice in choices 
                .tag
                    input(type="checkbox" id=choice value=choice name="tags")
                    label(for=choice) #{choice}
        input(type="submit" value="Save" class="button")    