mixin carousel(carouselItem = {})
	.carousel-item
		.view.hm-black-strong
			img#carouselOneImage(src=`/uploads/${carouselItem.photo || 'article.jpeg'}`, alt='Second slide' style="max-width:100%; max-height:650px;")
			a(href=`/article/${carouselItem.slug}`)
				.mask
		.carousel-caption
			h3.h3-responsive #{carouselItem.name} 
			p #{carouselItem.description}