mixin carouselOne(item = {})
	.view.hm-black-strong
		img#carouselOneImage(src=`/uploads/${item.photo || 'article.jpeg'}`, alt='First slide')
		a(href=`/article/${item.slug}`)
			.mask
		.carousel-caption
			h3.h3-responsive #{item.name}
			p #{item.description}
		