mixin carouselOne(item = {})
	.view.hm-black-light
		img.d-block.w-100(src=`/uploads/${item.photo || 'article.jpeg'}`, alt='First slide' style="width:1321px; height:auto")
		a(href=`/article/${item.slug}`)
			.mask
		.carousel-caption
			h3.h3-responsive #{item.name}
			p #{item.description}